@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content {
  width: 980px;
  margin: 0 auto;
}
.content > nav {
  width: inherit;
}
#toolbar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  width: inherit;
  position: fixed;
  top: 0;
  text-align: center;
  padding: 5px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear;
  -moz-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear;
  -o-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear;
  transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear;
}
#toolbar.hidden {
  visibility: hidden;
  opacity: 0;
  top: -10px;
  -webkit-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear 0.1s;
  -moz-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear 0.1s;
  -o-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear 0.1s;
  transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear 0.1s;
}
#article-tools {
  position: fixed;
  left: 10px;
  width: 50px;
  opacity: .2;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#article-tools:hover {
  opacity: 1;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#article-tools a,
#toolbar a {
  color: #151515;
  padding: 10px;
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  float: left;
  outline: none;
  vertical-align: baseline;
}
#article-tools a:hover,
#toolbar a:hover {
  color: #313131;
  background-color: #fffb72;
  background-color: rgba(255, 255, 0, 0.35);
}
#article-tools a:active,
#toolbar a:active {
  color: #313131;
  background-color: #fff648;
  background-color: rgba(255, 255, 0, 0.50);
}
#article-tools a.disabled,
#toolbar a.disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}
.rich-text-editor {
  outline: none;
  overflow: auto;
  padding: .6rem;
  border: 3px dashed silver;
  resize: vertical;
  -epub-word-break: keep-all;
  -ms-word-break: keep-all;
  word-break: keep-all;
}
h1 .rich-text-editor {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  font-style: normal;
  color: #000;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  width: inherit;
  height: 55px;
  min-height: 50px;
  overflow: hidden;
  border-left: none;
  border-top: 0;
  border-right: none;
  margin: 70px 0 20px 0;
  line-height: 1.2;
}
h1 .rich-text-editor br {
  display: none;
}
h1 .rich-text-editor * {
  display: inline;
}
article.rich-text-editor {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  color: #222;
  letter-spacing: 0.01rem;
  border-radius: 5px;
  min-height: 500px;
  line-height: 1.5;
}
.rich-text-editor p {
  margin-bottom: 30px;
}
.rich-text-editor p:first-child {
  margin-top: 0;
}
#title,
#output {
  display: none;
}
#article-tools a:link,
#article-tools a:visited,
#article-tools a:hover,
#article-tools a:active,
#toolbar a:link,
#toolbar a:visited,
#toolbar a:hover,
#toolbar a:active {
  text-decoration: none;
}
