@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content {
  width: 980px;
  margin: 0 auto;
}
.content > nav {
  width: inherit;
}
#toolbar {
  background-color: rgba(255, 255, 255, 0.9);
  width: inherit;
  position: fixed;
  top: 0;
  text-align:center;
  padding:5px;
  visibility:visible;
  opacity:1;
  -webkit-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear;
  -o-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear;
  transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear;
}
#toolbar.hidden {
  visibility: hidden;
  opacity: 0;
  top: -10px;
  -webkit-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear 0.1s;
  -o-transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear 0.1s;
  transition: visibility 0s linear, 0.2s, opacity 0.2s linear, top 0.1s linear 0.1s;
}
#toolbar a,
#toolbar input[type="text"] {
  color:#151515;
  padding:10px;
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  float: left;
  outline: none;
  vertical-align: baseline;
}
#toolbar input[type="text"] {
  width: 100px;
  opacity: 0;
  background-color: rgba(255, 247, 0, 0.50);
  border: none;
  font-size: 1rem;
  -webkit-transition: opacity 0.2s, width 0.2s;
  -o-transition: opacity 0.2s, width 0.2s;
  transition: opacity 0.2s, width 0.2s;
}
#toolbar input[type=checkbox]:checked ~ input[type="text"] {
  width: 200px;
  opacity: 1;
  -webkit-transition: opacity 0.2s, width 0.2s;
  -o-transition: opacity 0.2s, width 0.2s;
  transition: opacity 0.2s, width 0.2s;
}
#toolbar input[type="text"]:-ms-input-placeholder {
  color: #999;
  font-style: italic;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 1rem;
}
#toolbar input[type="text"]::-webkit-input-placeholder {
  color: #999;
  font-style: italic;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 1rem;
}
#toolbar input[type="text"]:-moz-placeholder {
  color: #444;
  font-style: italic;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 1rem;
}
#toolbar input[type="text"]::-moz-placeholder {
  color: #444;
  font-style: italic;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 1rem;
}
#toolbar a:hover {
  color:#313131;
  background-color: rgba(255, 255, 0, 0.35);
}
#toolbar a:active {
  color:#313131;
  background-color: rgba(255, 247, 0, 0.50);
}

.rich-text-editor {
  outline: none;
  overflow:auto;
  padding:.6rem;
  border:3px dashed silver;
  resize:vertical;
  -ms-word-break: keep-all;
  word-break: keep-all;
}
h1 .rich-text-editor {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  font-style: normal;
  color: #000;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  width: inherit;
  min-height: 50px;
  overflow: hidden;
  border-left: none;
  border-top: none;
  border-right: none;
  margin: 70px 0 20px 0;
  line-height: 1.2;
}
h1 .rich-text-editor br {
  display: none;
}
h1 .rich-text-editor * {
  display: inline;
}
article.rich-text-editor {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  color: #222;
  letter-spacing: 0.01rem;
  border-radius:5px;
  min-height:250px;
  line-height: 1.5;
}
.rich-text-editor p {
  margin-bottom: 30px;
}
.rich-text-editor p:first-child {
  margin-top: 0;
}

#title,
#output {
  display: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration:none;
}
